# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [41]:
import pandas as pd

covid = pd.read_csv("./sample_data/country_wise_latest.csv")
covid.sort_values(by=['Deaths / 100 Cases'], ascending=False).head(1)["Country/Region"].values

array(['Yemen'], dtype=object)

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [75]:
import pandas as pd

covid = pd.read_csv("./sample_data/country_wise_latest.csv")
covid.loc[(covid['New cases'] == 0) & (covid['WHO Region'] == 'Europe')]['Country/Region'].values

array(['Estonia', 'Holy See', 'Latvia', 'Liechtenstein', 'Monaco',
       'San Marino', 'Spain'], dtype=object)

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [67]:
import pandas as pd

avocado = pd.read_csv("./sample_data/avocado.csv")
avocado.groupby('region')['AveragePrice'].nlargest(1)

region
Albany               14768    2.13
Atlanta              14807    2.75
BaltimoreWashington  12044    2.28
Boise                14913    2.79
Boston               9358     2.19
BuffaloRochester     15032    2.57
California           12254    2.58
Charlotte            15130    2.83
Chicago              12353    2.30
CincinnatiDayton     15232    2.20
Columbus             15285    2.22
DallasFtWorth        15342    1.90
Denver               15395    2.16
Detroit              15444    2.08
GrandRapids          15510    2.73
GreatLakes           6423     1.98
HarrisburgScranton   15618    2.27
HartfordSpringfield  12823    2.68
Houston              15710    1.92
Indianapolis         12929    2.10
Jacksonville         15814    2.99
LasVegas             13037    3.03
LosAngeles           13086    2.44
Louisville           15973    2.29
MiamiFtLauderdale    16055    3.05
Midsouth             16084    2.17
Nashville            16133    2.24
NewOrleansMobile     16200    2.32
NewYork              13395    2.65
Northeast            16303    2.31
NorthernNewEngland   10700    1.96
Orlando              16395    2.87
Philadelphia         13603    2.45
PhoenixTucson        13657    2.62
Pittsburgh           10917    1.83
Plains               16610    2.13
Portland             16662    2.86
RaleighGreensboro    16720    3.04
RichmondNorfolk      16772    2.05
Roanoke              16825    2.27
Sacramento           14020    2.82
SanDiego             14073    2.74
SanFrancisco         14125    3.25
Seattle              17038    2.96
SouthCarolina        17088    2.21
SouthCentral         17144    1.81
Southeast            17194    2.33
Spokane              17246    2.95
StLouis              17303    2.84
Syracuse             17364    2.44
Tampa                17428    3.17
TotalUS              17462    2.09
West                 17514    2.52
WestTexNewMexico     14699    2.93
Name: AveragePrice, dtype: float64